<h2 mat-dialog-title>Adicionar Anuncio</h2>
<mat-dialog-content>
 <form  [formGroup] = 'formAds' class="form-ads">
        <mat-form-field class="example-form-field">
            <mat-label>Titulo</mat-label>
            <input matInput type="text" formControlName = 'title' placeholder="Titulo">
            @if (formAds.controls['title']) {
              <button matSuffix mat-icon-button aria-label="Clear"
              (click)="formAds.controls['title'].reset()">
                <mat-icon>close</mat-icon>
              </button>
            }
            @if (formAds.controls['title'].hasError('required')) {
                <mat-error>O campo título é  <strong>obrigatório</strong></mat-error>
              }
        </mat-form-field>
    
        <mat-form-field class="descricao">
            <mat-label>Descrição</mat-label>
            <textarea matInput placeholder="Descrição" formControlName="description"></textarea>
            @if (formAds.controls['description'].hasError('required')) {
                <mat-error>O campo descrição é  <strong>obrigatório</strong></mat-error>
              }
        </mat-form-field>
        <p>
          <button type="button" mat-button (click)="fileInput.click()">Adicionar Imagem</button>
          <input hidden (change)="onFileSelectedAdd($event)" #fileInput type="file" accept=".jpg,.png" multiple="true">
      </p>
      
          @if (formAds.controls['srcPreviewAdd'].hasError('required') && formAds.controls['srcPreviewAdd'].touched) {
              <mat-error>Necessário adicionar uma  <strong>Imagem</strong></mat-error>
          }
      
      <div class="form-ads-image">
        <span class="file-name">
            {{selectedFileAdd?.name?.length>10 ?
            (selectedFileAdd?.name | slice: 0: 10) + '-'+
            (selectedFileAdd?.name | slice: -4)
            : selectedFileAdd?.name }}
        </span>
        <img [src]="srcPreviewAdd">
      </div>
        <button mat-raised-button (click)="registerAds()">Cadastrar</button>
 </form>
</mat-dialog-content>
