.form-ads {
    display: flex;
    flex-direction: column;
    width: 100%;
    mat-form-field {
        min-width: 300px;
        max-width: 100%;
    }
    .form-ads-image {
        display: flex;
        gap: 10px;
        align-items: flex-start;
    }
    img {
        max-width: 330px;
        border-radius: 10px;
    }
    button {
        margin-left: auto !important;
    }


    @media (max-width: 760px) {
        
        .form-ads-image {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 10px;
        }
    }
}