<div class="ads">
    <mat-card class="ads-card" *ngFor="let ad of ads">
        <mat-card-header>
          <div mat-card-avatar class="ads-header-image"></div>
          <mat-card-subtitle>{{ad.user?.email}}</mat-card-subtitle>
          <mat-card-title>{{ad.title}}</mat-card-title>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        @if(ad.srcPublicImage){
          <img src="{{ad.srcPublicImage}}" alt="imagem do anuncio">
        } @else {
          @if(ad.srcImageExpire) {
            <img src="{{ad.srcImageExpire}}" alt="imagem do anuncio">
          }
        }
        <mat-card-content>
          <p>
           {{ad.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
</div>
