<div class="container ">
    <button mat-raised-button (click)="openModalCreateAd()">Adicíonar anúncio</button>
</div>

<div class="ads">
    <mat-card class="ads-card" *ngFor="let ad of myAds" >
        <mat-card-header>
          <div mat-card-avatar class="ads-header-image"></div>
          <mat-card-title>{{ad.title}}</mat-card-title>
        </mat-card-header>

        @if(ad.srcPublicImage){
          <img src="{{ad.srcPublicImage}}" alt="imagem do anuncio">
        }
        @if(ad.srcImageExpire) {
          <img src="{{ad.srcImageExpire}}" alt="imagem do anuncio">
        }
        
        <mat-card-content>
          <p>
           {{ad.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>SHARE</button>
          <button mat-button (click)="openModalUpdateAd(ad)">EDIT</button>
          <button mat-button (click)="deleteAds(ad.id)">DELETE</button>
        </mat-card-actions>
      </mat-card>
</div>


