.container {
    padding: 10px;
}
.ads {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    mat-card-content p {
        padding: 10px;
    }
}

.ads-card {
    max-width: 355px;
    
  }
  
  .ads-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }


@media (max-width: 760px) {
    .ads {
        justify-content: center;
    }
    }