<div class="container ">
    <button mat-raised-button (click)="openModalCreateAd()">Adicíonar anúncio</button>
</div>

<div class="ads">
    <mat-card class="ads-card" *ngFor="let ad of ads" >
        <mat-card-header>
          <div mat-card-avatar class="ads-header-image"></div>
          <mat-card-title>{{ad.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <img src="https://amplify-amplifyangulartem-amplifyteamdrivebucket28-c08nzznduh6a.s3.us-east-1.amazonaws.com/picture-submissions/32%2811%29.png" alt="">
        <mat-card-content>
          <p>
           {{ad.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>SHARE</button>
          <button mat-button (click)="openModalUpdateAd(ad)">EDIT</button>
          <button mat-button (click)="deleteAds(ad.id)">DELETE</button>
        </mat-card-actions>
      </mat-card>
</div>

